h1,
h2,
h3,
h4,
h5 {
  font-family: freight-big-pro, serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*
// FreightBig Pro Bold
font-family: freight-big-pro, serif;
font-weight: 700;
font-style: normal;


// FreightBig Pro Bold Italic
font-family: freight-big-pro, serif;
font-weight: 700;
font-style: italic;


// FreightBig Pro Book
font-family: freight-big-pro, serif;
font-weight: 400;
font-style: normal;


// FreightBig Pro Book Italic
font-family: freight-big-pro, serif;
font-weight: 400;
font-style: italic;


// FreightDisp Pro Bold
font-family: freight-display-pro, serif;
font-weight: 700;
font-style: normal;


// FreightDisp Pro Bold Italic
font-family: freight-display-pro, serif;
font-weight: 700;
font-style: italic;


// FreightDisp Pro Book
font-family: freight-display-pro, serif;
font-weight: 400;
font-style: normal;


// FreightDisp Pro Book Italic
font-family: freight-display-pro, serif;
font-weight: 400;
font-style: italic;


// FreightMacro Pro Bold
font-family: freight-macro-pro, serif;
font-weight: 700;
font-style: normal;


// FreightMacro Pro Bold Italic
font-family: freight-macro-pro, serif;
font-weight: 700;
font-style: italic;


// FreightMacro Pro Book
font-family: freight-macro-pro, serif;
font-weight: 400;
font-style: normal;


// FreightMacro Pro Book Italic
font-family: freight-macro-pro, serif;
font-weight: 400;
font-style: italic;


// FreightMicro Pro Book
font-family: freight-micro-pro, serif;
font-weight: 400;
font-style: normal;


// FreightMicro Pro Book Italic
font-family: freight-micro-pro, serif;
font-weight: 400;
font-style: italic;


// FreightMicro Pro Bold
font-family: freight-micro-pro, serif;
font-weight: 700;
font-style: normal;


// FreightMicro Pro Bold Italic
font-family: freight-micro-pro, serif;
font-weight: 700;
font-style: italic;


// FreightBigCmp Pro Book
font-family: freightbigcmp-pro, serif;
font-weight: 400;
font-style: normal;


// FreightBigCmp Pro Book Italic
font-family: freightbigcmp-pro, serif;
font-weight: 400;
font-style: italic;


// FreightBigCmp Pro Bold
font-family: freightbigcmp-pro, serif;
font-weight: 700;
font-style: normal;


// FreightBigCmp Pro Bold Italic
font-family: freightbigcmp-pro, serif;
font-weight: 700;
font-style: italic;


// FreightDispCmp Pro Book
font-family: freightdispcmp-pro, serif;
font-weight: 400;
font-style: normal;


// FreightDispCmp Pro Book Italic
font-family: freightdispcmp-pro, serif;
font-weight: 400;
font-style: italic;


// FreightDispCmp Pro Bold
font-family: freightdispcmp-pro, serif;
font-weight: 700;
font-style: normal;


// FreightDispCmp Pro Bold Italic
font-family: freightdispcmp-pro, serif;
font-weight: 700;
font-style: italic;
*/
body {
  margin: 0;
}

img {
  max-width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 70px;
  position: fixed;
  height: 100vh;
  padding: 5px;
  word-break: break-word;
  font-size: 14px;
  text-align: center;
}
.sidebar .logo {
  padding: 7px;
}
.sidebar .middle-info {
  color: white;
  padding: 5px;
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.sidebar .contact-info {
  color: white;
  padding: 5px 5px 15px 5px;
  font-size: 12px;
}
.sidebar .contact-info span {
  display: block;
  font-size: 22px;
  font-weight: 100;
}
.sidebar .contact-info a {
  color: white;
}

main {
  background-color: #b3b3b3;
  margin-left: 80px;
}
main .entry-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #efefef;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}
main .entry-header h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  margin: 0;
}
main .entry {
  background-color: transparent;
}
main .entry.multi-flex {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
main .entry.multi-flex img {
  width: 25%;
  margin: 35px;
}
main .entry.padmax {
  padding: 10% 15%;
}
main .entry.padmin {
  padding: 3% 5%;
}
main .entry.black {
  background-color: black;
}
main .entry video {
  width: 100% !important;
  height: auto !important;
}

@media screen and (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
