$font-stack: freight-big-pro, serif;
$primary-color: #333;

h1,
h2,
h3,
h4,
h5 {
  font-family: freight-big-pro, serif;
  font-weight: 900;
  font-style: italic;
}
body {
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*
// FreightBig Pro Bold
font-family: freight-big-pro, serif;
font-weight: 700;
font-style: normal;


// FreightBig Pro Bold Italic
font-family: freight-big-pro, serif;
font-weight: 700;
font-style: italic;


// FreightBig Pro Book
font-family: freight-big-pro, serif;
font-weight: 400;
font-style: normal;


// FreightBig Pro Book Italic
font-family: freight-big-pro, serif;
font-weight: 400;
font-style: italic;


// FreightDisp Pro Bold
font-family: freight-display-pro, serif;
font-weight: 700;
font-style: normal;


// FreightDisp Pro Bold Italic
font-family: freight-display-pro, serif;
font-weight: 700;
font-style: italic;


// FreightDisp Pro Book
font-family: freight-display-pro, serif;
font-weight: 400;
font-style: normal;


// FreightDisp Pro Book Italic
font-family: freight-display-pro, serif;
font-weight: 400;
font-style: italic;


// FreightMacro Pro Bold
font-family: freight-macro-pro, serif;
font-weight: 700;
font-style: normal;


// FreightMacro Pro Bold Italic
font-family: freight-macro-pro, serif;
font-weight: 700;
font-style: italic;


// FreightMacro Pro Book
font-family: freight-macro-pro, serif;
font-weight: 400;
font-style: normal;


// FreightMacro Pro Book Italic
font-family: freight-macro-pro, serif;
font-weight: 400;
font-style: italic;


// FreightMicro Pro Book
font-family: freight-micro-pro, serif;
font-weight: 400;
font-style: normal;


// FreightMicro Pro Book Italic
font-family: freight-micro-pro, serif;
font-weight: 400;
font-style: italic;


// FreightMicro Pro Bold
font-family: freight-micro-pro, serif;
font-weight: 700;
font-style: normal;


// FreightMicro Pro Bold Italic
font-family: freight-micro-pro, serif;
font-weight: 700;
font-style: italic;


// FreightBigCmp Pro Book
font-family: freightbigcmp-pro, serif;
font-weight: 400;
font-style: normal;


// FreightBigCmp Pro Book Italic
font-family: freightbigcmp-pro, serif;
font-weight: 400;
font-style: italic;


// FreightBigCmp Pro Bold
font-family: freightbigcmp-pro, serif;
font-weight: 700;
font-style: normal;


// FreightBigCmp Pro Bold Italic
font-family: freightbigcmp-pro, serif;
font-weight: 700;
font-style: italic;


// FreightDispCmp Pro Book
font-family: freightdispcmp-pro, serif;
font-weight: 400;
font-style: normal;


// FreightDispCmp Pro Book Italic
font-family: freightdispcmp-pro, serif;
font-weight: 400;
font-style: italic;


// FreightDispCmp Pro Bold
font-family: freightdispcmp-pro, serif;
font-weight: 700;
font-style: normal;


// FreightDispCmp Pro Bold Italic
font-family: freightdispcmp-pro, serif;
font-weight: 700;
font-style: italic;
*/
