@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}
.dot-bg {
  background-image: url('assets/img/grid-repeater.png');
  background-repeat: repeat;
  background-size: 30px 30px;
  background-attachment: fixed;
}
.tiny-button {
  background-color: #1f6d99;
  padding: 8px 16px;
  color: white;
  border-radius: 4px;
  display: inline-block;
}
.tiny-button:hover {
  background-color: #1b7ab0;
}
.huge-button {
  width: 100%;
  height: 60px;
  background-color: #1f6d99;
  display: flex;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.font-big-buddy {
  font-family: "jubilat", "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  font-size: 32px;
}

.font-tiny-buddy {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 100%;
  font-size: 20px;
}

.font-medium-buddy {
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 120%;
  font-size: 40px;
}

.font-little-buddy {
  font-family: "jubilat", "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  font-size: 16px;
}

.font-little-buddy-sans-bold {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-size: 16px;
}

.font-little-buddy-sans {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-size: 16px;
}

.font-speech {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 115%;
  font-size: 18px;
}

.font-btn {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 115%;
  font-size: 20px;
}

.font-base {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  font-size: 14px;
}

.font-skills {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  font-size: 16px;
}

.font-tiny {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 115%;
  font-size: 12px;
}

@media screen and (min-width: 510px) {
  .font-big-buddy {
    font-size: 48px;
  }
  .font-base {
    font-size: 16px;
  }
  .font-speech {
    font-size: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .font-big-buddy {
    font-size: 58px;
  }
  .font-base {
    font-size: 18px;
  }
  .font-btn {
    font-size: 26px;
  }
  .font-speech {
    font-size: 32px;
  }
}

.debug {
  border-width: 1px;
  border-color: lime;
}
