@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

.font-big-buddy {
  font-family: jubilat, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  font-size: 72px;
}

.font-little-buddy {
  font-family: jubilat, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  font-size: 16px;
}

.font-speech {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 115%;
  font-size: 32px;
}

.font-base {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 115%;
  font-size: 18px;
}

.debug {
  border-width: 1px;
  border-color: lime;
}
